st.markdown("""
    <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

    html, body, [class*="css"] {
        font-family: 'IBM Plex Mono', monospace;
        background: #4F5223;
    }
    .custom-title {
        overflow: hidden;
        color: white;
        font-size: 1.3em;
        animation: typewriter 4s steps(50) 1s both;
        white-space: nowrap;
        padding-bottom: 50px;
    }
    @keyframes typewriter {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    </style>
""", unsafe_allow_html=True)
